.prosidebar-main {
  background-color: red;
}
.sidebar-header-wrapper{
  cursor: pointer;
}
.sideabar-header{
    display: grid;
  place-items: center;
}

.sidebar-toggle-btn{
    display: grid;
  place-items: center;
}

.sidebar-footer {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
}
.sidebar-footer-menu {
  transition: all 3s linear;
}

.sidebar-footer-menu-open {
  display: grid;
  place-items: center;
  /* transform: translate(-50%); */
}

.active-sidebar-menu-icon{
    color: #109CF1;
}

.active-side-menu {
  /* background-color: #0b0909d2; */
  color: #109CF1;
}


