html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#sidebar .pro-sidebar .pro-sidebar-inner {
  background-color: #ffffff;
  color: #334d6e;
  /* transition: all 3s linear; */
  -webkit-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.15);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#sidebar
  .pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: transparent;
}
#sidebar .pro-sidebar .pro-menu.shaped .pro-menu-item .pro-inner-list-item {
  background-color: transparent;
}

/* #sidebar .pro-sidebar .collapsed {
  background-color: rgb(239, 220, 220);
} */
/* #sidebar .co */
/* Settings right sidebar global css */
.MuiDrawer-root > .MuiDrawer-paperAnchorRight{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* background-color: red; */
}
